%p#notice= notice

.containerTwo
  
  %h1 投稿の一覧
  
  %table
    %thead
      %tr
        %th タイトル
        %th 日付
    %tbody
      - @diaries.each do |diary|
        %tr
          %td= link_to diary.title, diary
          %td= diary.created_at
  %br/
  = link_to '投稿', new_diary_path
  = paginate @diaries