!!!
%html

  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ochiaiapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    %header
      = link_to 'T.Ochiai`s Diary', root_path
      
    %div.container
      = yield

    %footer ©T.ochiai
